@media all {
    .Signup {
      padding: 0 0;
      margin-bottom: 20px;
    }
  
    .Signup form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      column-gap: 20px;
      max-width: 600px;
      margin: 0 auto;
      color: white;
      text-align: center;
      align-items: center; 
    }
  }
  
  .Signup form span.help-block {
    font-size: 12px;
    padding-bottom: 10px;
    color: white;
  }

  h1 {
    display: flex;
    justify-content: center; 
    padding: 20px;
    color: rgb(255, 134, 35);
    font-size: 50px;
  }